doctype html
html
    head
        title=title
        
        link(rel='stylesheet',href='/static/css/bootstrap.min.css')
    body
    div(class='container')
    
        
    p
     a(href='/') Home 
     p
       a(href='/about') Express

    block content

    p Copyrigh &copy;#{new Date().getFullYear()}